/* Estilos gerais */
@media (max-width: 99999px) {
  .login-container {
    background-color: #206d4a;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .img-login-header {
    z-index: 1000;
    border-radius: 1000px;
    position: absolute;
    top: 0px;
  }

  .div-login {
    background-color: #ffffff;
    height: 83%;
    width: 33%;
    border-radius: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .div-input-login {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .input-text-login {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 80%;
    height: 10%;
    border-radius: 15px;
    font-size: 20px;
    padding: 35px;
    color: #8f8f8f;
    margin-bottom: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    font-weight: 400;
  }

  .button-entrar-login {
    background-color: #e2dd72;
    padding: 10px 20px;
    border-radius: 30px;
    width: 60%;
    height: 15%;
    color: black;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
  }

  .a-text-login {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }

  .button-entrar-login:hover {
    opacity: 0.9;
  }
}
/* Media query para telas menores que 768px CELULARES*/
@media (max-width: 1200px) {
  .img-login-header {
    width: 49.2%;
    height: 21.4%;
    margin-top: 11vh;
  }
  .div-login {
    width: 85.5%;
    height: 55.5%;
    margin-top: 21.8vh;
    border-radius: 15px;
  }
  .div-input-login {
    margin-top: 10px;
  }
  .input-text-login {
    width: 68%;
    height: 4.2vh;
    padding: 0px;
    font-size: 2.2vh;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 1px rgba(0, 0, 0, 0.25);
  }
  .button-entrar-login {
    width: 63%;
    height: 11%;
    border-radius: 16px;
    font-size: 2.2vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    margin-top: 4px;
  }
  .a-text-login {
    font-size: 2.2vh;
    height: 19px;
    font-size: 2.2vh;
    margin-top: 15px;
  }
}
/* TABLETS */
