.offline-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 10%;
    font-weight: bold;
    z-index: 1000;
  }
  
