.offline-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D4A373;
    color: white;
    text-align: center; 
    height: 4%;
    font-weight: bold;
    z-index: 1000;
  }
  
