@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #eff7f3 !important;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif !important;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
